.container {
  width: 60px;
  height: 24px;
  border-radius: 30px;
  border: 1.5px solid #53c28b70;
  padding: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.icon {
  font-size: 12px;
}

.ball {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #53c28b;
  position: absolute;
  left: 2px;
  transition: transform 0.35s ease;
}

:global(.theme.dark) .ball {
  transform: translateX(calc(60px - 15px - 8px));
}
:global(.theme.light) .ball {
  transform: translateX(0);
}
