.container{
    height: 50px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social{
    display: flex;
    align-items: center;
    gap: 10px;
}

@media (max-width: 768px){
    .social{
        margin-bottom: 10px;
    }
    .container{
        flex-direction: column-reverse;
    }
}