
.container {
    padding: 20px;
    cursor: pointer;
    background-color: #53c28b;
    border: none;
    border-radius: 5px;
    width: max-content;
    color: white;
}

@media (max-width: 1300px){
    .container{
        padding: 15px;
    }
}